@define-mixin theme {
	--fg-hue: 0;
	--fg-saturation: 0%;
	--fg-lightness: 0%;
	--fg: hsla( var(--fg-hue), var(--fg-saturation), var(--fg-lightness), 1)
}

@define-mixin theme-dark {
	--fg-lightness: 100%;
	--bg-lightness: 0%;
	--lightness-delta-content: 9%;
	--lightness-delta-aside: 6%;
	--lightness-delta-canvas: 3%;
	--bs-key-op-weak: 0.2;
	--bs-am-op-weak: 0.2;
}

@define-mixin theme-dark-primary {
	--fg-lightness: 100%;
	--l-factor: 1;
	--bg-lightness: 16%;
	
	--lightness-delta-content: 10%;
	--lightness-delta-aside: 5%;
	--lightness-delta-canvas: 0%;

	--bs-key-op-weak: 0.08;
	--bs-am-op-weak: 0.08;

	--h-content: var(--h-primary);
	--s-content: var(--s-primary);

	--h-aside: var(--h-primary);
	--s-aside: var(--s-primary);

	--h-canvas: var(--h-primary);
	--s-canvas: var(--s-primary);
}

@define-mixin theme-light {
	--fg-lightness: 0%;
	--bg-lightness: 100%;
	--lightness-delta-content: 0%;
	--lightness-delta-aside: -3%;
	--lightness-delta-canvas: -6%;
}

.theme {
	@mixin theme;
	@apply text-default bg-content text-md;
}

.theme.theme-light {
	@mixin theme-light;
}

.theme.theme-dark {
	@mixin theme-dark;
}

.theme.theme-dark-primary {
	@mixin theme-dark-primary;
}
