.theme {
	--bg-color: hsla(var(--h, 120), var(--s, 100%), var(--l, 50%), var(--a, 1));
	--opacity: 1;
	/*  */
	--fg-hue: 0;
	--fg-saturation: 0%;
	--fg-lightness: 0%;
	/*  */
	--surface-hue: 0;
	--surface-saturation: 0%;
	--surface-lightness: 100%;
	/*  */
	--lightness-delta-content: 0%;
	--lightness-delta-aside: -3%;
	--lightness-delta-canvas: -6%;

	/*  */
	--color-border: hsla(var(--fg-hue), var(--fg-saturation), var(--fg-lightness), 0.09);
	--color-border-strongest: hsla(var(--fg-hue), var(--fg-saturation), var(--fg-lightness), 0.32);
}
.theme.theme-dark {
	--fg-lightness: 100%;
	/*  */
	--surface-lightness: 0%;
	/*  */
	--lightness-delta-content: 10%;
	--lightness-delta-aside: 5%;
	--lightness-delta-canvas: 0%;
	/*  */
	--bs-key-op-weak: 0.3;
	--bs-am-op-weak: 0.3;
	/*  */
	--color-border: hsla(var(--fg-hue), var(--fg-saturation), var(--fg-lightness), 0.09);
	--color-border-strongest: hsla(var(--fg-hue), var(--fg-saturation), var(--fg-lightness), 0.32);
}
