.triangle-down {
	--size: 8px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: var(--size) calc(var(--size) / 1.5) 0 calc(var(--size) / 1.5);
	border-color: var(--text-weakest) transparent transparent transparent;
}
.berries {
	--duration: 1s;
	--animation-speed: 4s;
	--animation-gap: 0.3s;
}
.berries-icon {
	
	@apply grid gap-2 transform rotate-45;
	--berries-icon-size: 50px;
	grid-template-columns: var(--berries-icon-size) var(--berries-icon-size) var(--berries-icon-size);
	grid-template-rows: var(--berries-icon-size) var(--berries-icon-size) var(--berries-icon-size);
}

.animation-notexistent:not(:hover) .berries-icon__item,
.animation-notexistent:not(:hover) .berries-description,
.animation-notexistent:not(:hover) .berries-name {
	-webkit-animation: notexistent;
	animation: notexistent;
}

.berries-icon__1 {
	grid-column-start: 2;
}
.berries-icon__2 {
	grid-column-start: 1;
}

.berries-icon__item {

}

.berries-icon__1,
.berries-icon__2 {
	--color-leaf: hsla(180, 100%, 20%, 1);
	background-color: var(--color-leaf);
	animation-direction: normal;
	animation-timing-function: ease;
	animation: pulse-green calc(var(--duration) + calc(var(--animation-speed) + calc(var(--animation-gap) * 1)));
}

.berries-icon__3 {
	animation-direction: normal;
	animation-timing-function: ease;
	animation: pulse-brand calc(var(--duration) + calc(var(--animation-speed) + calc(var(--animation-gap) * 2)));
	@apply bg-standout-dark;
}
.berries-icon__4 {
	animation-direction: normal;
	animation-timing-function: ease;
	animation: pulse-brand calc(var(--duration) + calc(var(--animation-speed) + calc(var(--animation-gap) * 3)));
	@apply bg-standout-darker;
}
.berries-icon__5 {
	grid-column-start: 2;
	animation-direction: normal;
	animation-timing-function: ease;
	animation: pulse-brand calc(var(--duration) + calc(var(--animation-speed) + calc(var(--animation-gap) * 4)));
	@apply bg-standout-darker;
}
.berries-icon__6 {
	animation-direction: normal;
	animation-timing-function: ease;
	animation: pulse-brand calc(var(--duration) + calc(var(--animation-speed) + calc(var(--animation-gap) * 5)));
	@apply bg-standout-darkest;
}

.berries-name {
	animation-direction: normal;
	animation-timing-function: ease;
	animation: pulse-name 1000s;
	opacity: 0;
	color: var(--color-standout);
}
.berries-description {
	animation-direction: normal;
	animation-timing-function: ease;
	animation: pulse-description 1000s;
	opacity: 0;
	@apply text-weak;
}

@keyframes pulse-description {
	0% {
		opacity:0;
		@apply text-weak;
	}
	0.9% {
		opacity:0;
		@apply text-weak;
	}
	1% {
		opacity: 1;
		@apply text-weak;
	}
	99% {
		opacity: 1;
		@apply text-weak;
	}
	100% {
		opacity: 0;
		@apply text-weak;
	}
}
@keyframes pulse-name {
	0% {
		opacity:0;
		color: hsl(var(--h-standout), var(--s-standout), 30%);
	}
	0.7% {
		opacity:0;
		color: hsl(var(--h-standout), var(--s-standout), 30%);
	}
	0.8% {
		opacity: 1;
		color: hsl(var(--h-standout), var(--s-standout), 30%);
	}
	99% {
		opacity: 1;
		color: hsl(var(--h-standout), var(--s-standout), 30%);
	}
	100% {
		opacity: 0;
		color: hsl(var(--h-standout), var(--s-standout), 30%);
	}
}
@keyframes pulse-brand {
	0% {
		--l-factor: 0.5;
		@apply bg-standout-darkest;
		box-shadow: inset 0px 0px 0px 0px orange;
	}
	15% {
		background-color: rgba(90, 0, 180, 1);
	}
	30% {
		background-color: rgba(200, 0, 100, 0.9);
		box-shadow: inset 0px 0px 0px 0px rgba(200, 0, 130, 0.2);
	}
	45% {
		background-color: rgba(120, 10, 20, 0.9);
		box-shadow: inset 0px 0px 0px 12px red;
	}
	60% {
		background-color: rgba(150, 0, 0, 1);
		border-radius: 0%;
	}
	75% {
		background-color: rgba(90, 0, 90, 0.1);
		border-radius: 50%;
		box-shadow: inset 0px 0px 0px 12px rgba(200, 0, 130, 1);
	}
	80% {
		background-color: rgba(90, 0, 90, 0.1);
		border-radius: 50%;
		box-shadow: inset 0px 0px 0px 50px rgba(200, 0, 130, 0.2);
	}
	90% {
		background-color: rgba(255, 10, 255, 1);
		border-radius: 0%;
		box-shadow: inset 0px 0px 0px 0px red;
	}
	100% {
		@apply bg-standout-darkest;
		box-shadow: inset 0px 0px 0px 0px red;
	}
}

@keyframes pulse-green {
	0% {
		background-color: var(--color-leaf);
	}
	15% {
		background-color: rgba(0, 140, 120, 1);
	}
	30% {
		background-color: rgba(0, 200, 0, 0.5);
	}
	45% {
		background-color: rgba(0, 100, 0, 0.6);
	}
	60% {
		background-color: rgba(0, 150, 0, 0.1);
	}
	75% {
		background-color: rgba(20, 100, 90, 1);
	}
	90% {
		background-color: rgba(0, 110, 0, 0.9);
	}
	100% {
		background-color: var(--color-leaf);
	}
}

.bg-rough {
	background: radial-gradient(#ccc 1px, transparent 1px) 1px 1px;
	background-size: 3px 3px;
}
.bg-wave {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='15' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='gray' stroke-width='4' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.bg-pattern-eyes {
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.bg-dots {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='black' fill-opacity='0.3' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.bg-lines {
	--line-width-2: 2px;
	--line-width: calc(var(--line-width-2) * 2);
	background: repeating-linear-gradient(
		-45deg,
		transparent,
		transparent var(--line-width-2),
		var(--border-color) var(--line-width-2),
		var(--border-color) var(--line-width)
	);
}

.bg-lines-bold {
	--line-width-2: 10px;
	--line-width: calc(var(--line-width-2) * 2);
	--bg-lines-angle: -45deg;
	background: repeating-linear-gradient(
		var(--bg-lines-angle),
		transparent,
		transparent var(--line-width-2),
		var(--border-color-strongest) var(--line-width-2),
		var(--border-color-strongest) var(--line-width)
	);
}

.bg-lines-angle-0 {
	--bg-lines-angle: 0deg;
}

.scroll-snap-type-proximity {
	scroll-snap-type: both proximity;
}
.scroll-snap-type-mandatory {
	scroll-snap-type: both mandatory;
}

.scroll-snap-align-start {
	scroll-snap-align: start;
}

input[type='radio'] + label {
	cursor: pointer;
	@apply relative pl-9 pr-3 py-2;

	&:before {
		content: '';
		display: block;
		width: 16px;
		height: 16px;
		margin-right: 14px;
		position: absolute;
		top: 10px;
		@apply mx-3 left-0 border-bold border-strongest rounded-full;
	}
}

input[type='radio'] {
	display: none !important;
	*display: inline;

	&:checked + label:after {
		content: '';
		top: 14px;
		left: 16px;
		width: 8px;
		height: 8px;
		@apply block absolute rounded-full bg-brand;
	}
}
